# Projet Intermovie

Ce Notebook a pour but d'analyser un dataset de films dans le but de récupérer plusieurs informations :

- La liste des acteurs par film.

- La liste des films Américains (en gardant leur nom en français) et leur note moyenne.

- Les notes moyennes des différents genres.

- La note moyenne de chaque acteur par rapport aux films dans lesquels il apparaît.

## Structure des fichiers tsv

- name.basics :         nconst / primaryName / birthYear / deathYear / primaryProfession / knownForTitles
- title.akas :          titleId / ordering / title / region / language / types / attributes / isOriginalTitle
- title.basics :        tconst / titleType / primaryTitle / originalTitle / isAdult / startYear / endYear / runtimeMinutes / genres
- title.principals :    tconst / ordering / nconst / category / job / characters
- title.ratings :       tconst / averageRating / numVotes

## Nombre de lignes par échantillon

Nous allons utiliser pour chaque dataframe un maximum de 1000 lignes afin d'avoir un échantillon représentatif sans avoir de latence sur le traitement des données.


## 1- Liste des acteurs par film

In [1]:
# Extension IPython rechargeant les modules avant que l'utilisateur saisisse du code.
%load_ext autoreload
%autoreload 2

# Import des librairies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_table("./data/name.basics.tsv")

toto = 1

In [3]:
df_noms.columns

Index(['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession',
       'knownForTitles'],
      dtype='object')

In [4]:
df_noms = df_noms.drop(['birthYear', 'deathYear', 'primaryProfession', 'knownForTitles'], axis = 1)

In [5]:
df_noms = df_noms.dropna(axis = 0)

In [6]:
df_noms = df_noms.drop_duplicates()

In [7]:
df_noms.columns

Index(['nconst', 'primaryName'], dtype='object')

In [8]:
df_noms.describe()

           nconst  primaryName
count     9706922      9706922
unique    9706922      7618025
top     nm4149441  David Smith
freq            1          310

In [9]:
df_noms.to_csv('name.basics.tri.csv')