## Structure des fichiers tsv

- name.basics :         nconst / primaryName / birthYear / deathYear / primaryProfession / knownForTitles
- title.akas :          titleId / ordering / title / region / language / types / attributes / isOriginalTitle
- title.basics :        tconst / titleType / primaryTitle / originalTitle / isAdult / startYear / endYear / runtimeMinutes / genres
- title.principals :    tconst / ordering / nconst / category / job / characters
- title.ratings :       tconst / averageRating / numVotes

In [2]:
# Extension IPython rechargeant les modules avant que l'utilisateur saisisse du code.
%load_ext autoreload
%autoreload 2

# Import des librairies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df_titres = pd.read_table("./data/title.principals.tsv")

In [4]:
df_titres.columns

Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')

In [5]:
df_titres = df_titres.drop(['ordering', 'job', 'characters'], axis = 1)

In [6]:
 df_titres = df_titres[['tconst', 'nconst', 'category']][df_titres['category'].str.contains('self|actor|actress', regex = True)]

In [7]:
df_titres = df_titres.dropna(axis = 0)

In [8]:
df_titres = df_titres.drop_duplicates()

In [9]:
df_titres.describe()

           tconst     nconst  category
count    20971212   20971212  20971212
unique    5127449    2514373         3
top     tt5378114  nm0318114     actor
freq           10       8535   8493354

In [10]:
df_titres.to_csv('title.principals.tri.csv')