In [1]:
# Extension IPython rechargeant les modules avant que l'utilisateur saisisse du code.
%load_ext autoreload
%autoreload 2

# Import des librairies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_titres_basics = pd.read_table("./data/title.basics.tsv")

In [3]:
df_titres_basics.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [5]:
df_titres_basics = df_titres_basics.drop(['titleType', 'primaryTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres'], axis = 1)

In [6]:
df_titres_basics = df_titres_basics.dropna(axis = 0)

In [7]:
df_titres_basics = df_titres_basics.drop_duplicates()

In [8]:
df_titres_basics.describe()

           tconst originalTitle
count     6321292       6321292
unique    6321292       3189602
top     tt3215950  Episode #1.1
freq            1         33498

In [9]:
df_titres_basics.to_csv('title.basics.tri.csv')